.nav{
  grid-area: n;
  background-color: rgb(110, 12, 9);
  padding: 10px;
}
.item a{
  color: rgb(236, 231, 241);
  margin: 15px 40px 20px ;
  text-decoration: none;
}
.item a.activeLink{
  color: gold;
}